<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
    <title th:text="${pageTitle}">Admin Sekce</title>
</head>
<body class="admin-body">
<header th:replace="~{fragments/layout.html :: header}"></header>

<article class="container-fluid m-0 w-100 admin-article px-0">
    <section class="mt-0 w-100 admin-section">
        <div class="row m-0 w-100">
            <!-- Offcanvas Button (small screens) -->
            <button class="btn btn-dark d-md-none p-2" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
                <i class="bi bi-list"></i> Admin Menu
            </button>

            <!-- Regular Sidebar (medium and larger screens) -->
            <div class="col-md-2 d-none d-md-block">
                <div class="list-group mt-3">
                    <button type="button" class="list-group-item list-group-item-dark my-1" id="logsButton">
                        Historie změn
                    </button>
                    <button type="button" class="list-group-item list-group-item-dark my-1" id="nullUsersButton">
                        Nevyplněné účty
                    </button>
                    <button type="button" class="list-group-item list-group-item-dark my-1" id="adminUsersButton">
                        Admin účty
                    </button>
                    <button type="button" class="list-group-item list-group-item-dark my-1">
                        <a class="nav-link mx-1" th:href="@{/admin/statistics}"
                           aria-label="Admin Section">Statistiky</a>
                    </button>
                </div>
            </div>

            <!-- Offcanvas Sidebar (small screens) -->
            <div class="offcanvas offcanvas-start d-md-none" tabindex="-1" id="offcanvasSidebar"
                 aria-labelledby="offcanvasSidebarLabel" data-bs-backdrop="false">
                <div class="offcanvas-header">
                    <h5 id="offcanvasSidebarLabel">Navigace</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="list-group">
                        <button type="button" class="list-group-item list-group-item-dark my-1"
                                id="logsButtonOffcanvas">
                            Historie změn
                        </button>
                        <button type="button" class="list-group-item list-group-item-dark my-1"
                                id="nullUsersButtonOffcanvas">
                            Nevyplnění uživatelé
                        </button>
                        <button type="button" class="list-group-item list-group-item-dark my-1"
                                id="adminUsersButtonOffcanvas">
                            Admin účty
                        </button>
                        <button type="button" class="list-group-item list-group-item-dark my-1">
                            <a class="nav-link mx-1" th:href="@{/admin/statistics}" aria-label="Admin Section">Statistiky</a>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Main Content Area -->
            <div class="col-md-10">
                <div class="container m-3 content-wrapper">
                    <div id="contentArea">
                        <!-- Content will be loaded dynamically here -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>

</body>
<script>
    $(document).ready(function() {
    let currentBaseUrl = '/admin/audit-logs';

    // Initial load
    $('#contentArea').load(currentBaseUrl);

    // Button Clicks
    $('#logsButton').on('click', function() {
        currentBaseUrl = '/admin/audit-logs';
        $('#contentArea').load(currentBaseUrl);
    });

    $('#nullUsersButton').on('click', function() {
        currentBaseUrl = '/admin/null-users';
        $('#contentArea').load(currentBaseUrl);
    });

    $('#adminUsersButton').on('click', function() {
        currentBaseUrl = '/admin/admin-users';
        $('#contentArea').load(currentBaseUrl);
    });

    $('#logsButtonOffcanvas').on('click', function() {
        currentBaseUrl = '/admin/audit-logs';
        $('#contentArea').load(currentBaseUrl);
        $('#offcanvasSidebar').offcanvas('hide');
    });

    $('#nullUsersButtonOffcanvas').on('click', function() {
        currentBaseUrl = '/admin/null-users';
        $('#contentArea').load(currentBaseUrl);
        $('#offcanvasSidebar').offcanvas('hide');
    });

    $('#adminUsersButtonOffcanvas').on('click', function() {
        currentBaseUrl = '/admin/admin-users';
        $('#contentArea').load(currentBaseUrl);
        $('#offcanvasSidebar').offcanvas('hide');
    });

    // Pagination Click Handling
    $(document).on('click', '.pagination .page-link', function(event) {
        event.preventDefault();

        const pageNum = $(this).attr('href').split('page=')[1];

        $('#contentArea').load(currentBaseUrl + '?page=' + pageNum);
    });
});
</script>
</html>
