<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/layout.html :: head}">
        <title>O PojištěníApp</title>
    </head>
    <body class="custom-body">
        <header th:replace="~{fragments/layout.html :: header}"></header>

        <article class="container">
            <header class="text-center">
                <h1 class="display-4 mb-4">O aplikaci PojištěníApp</h1>
                <h3 class="lead">Vítejte v PojištěníApp – aplikaci, která vám usnadní správu pojištění.</h3>
            </header>
            <section class="py-4">
                <h2>Hlavní funkce</h2>
                <ul>
                  <li>Široká nabídka pojištění</li>
                  <li>Jednoduchá správa pojištění</li>
                  <li>Online hlášení škod</li>
                </ul>

                <h2>Jak to funguje</h2>
                <ol>
                  <li><strong>Registrace:</strong> Zaregistrujte se během několika minut.</li>
                  <li><strong>Výběr pojištění:</strong> Vyberte pojištění podle svých potřeb.</li>
                  <li><strong>Správa pojištění:</strong> Jednoduše upravujte a kontrolujte své pojištění.</li>
                  <li><strong>Hlášení škod:</strong> Hlaste škody a sledujte jejich stav v aplikaci.</li>
                </ol>

                <h2>Začněte ještě dnes</h2>
                <!-- TODO: add register link to this text -->
                <p class="lead">Chcete mít své pojištění pod kontrolou? Registrujte se u PojištěníApp a začněte spravovat své pojištění rychle a bezpečně!</p>
            </section>
        </article>

        <footer th:replace="~{fragments/layout.html :: footer}"></footer>
    </body>
</html>