<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
    <title th:text="${pageTitle}">PojištěníApp</title>
</head>
<body class="custom-body">
<header th:replace="~{fragments/layout.html :: header}"></header>

<div th:replace="~{fragments/layout.html :: flash-messages}"></div>

<article class="container justify-content-evenly text-center">
    <header class="mb-1 mt-0">
        <h1 class="display-4">PojištěníApp</h1>
    </header>

    <section>
        <div class="container">
            <h3 class="mb-4">Vítejte v naší pojišťovací aplikaci.</h3>

            <div class="banner-container mx-5 d-none d-sm-block">
                <img th:src="@{/images/banner.webp}" alt="Banner Image" class="img-fluid w-100">
            </div>

            <p class="lead mt-4">
                S námi je pojištění jednodušší než kdy předtím.
                Naše aplikace vám umožní snadno a rychle vybrat a spravovat vaše pojištění podle vašich potřeb.
                Ať už hledáte životní, zdravotní, automobilové nebo majetkové pojištění, máme pro vás to pravé řešení.
            </p>
            <p>
                Vyberte si z široké nabídky pojištění online.
                S námi budete mít vaše pojištění pod kontrolou – jednoduše, rychle a bezpečně.
            </p>
            <p class="mt-4">
                <strong><a th:href="@{/account/register}">Zaregistrujte</a></strong>
                se ještě dnes a začněte využívat výhod naší aplikace pro snadný a efektivní způsob pojištění.
            </p>
        </div>
    </section>
</article>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>