<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
    <title th:text="${pageTitle}">Detail pojištění</title>
</head>
<body class="custom-body">
<header th:replace="~{fragments/layout.html :: header}"></header>

<div th:replace="~{fragments/layout.html :: flash-messages}"></div>

<article class="container justify-content-evenly">
    <header>
        <h3 class="display-6 mb-4">
            Detail pojištění pro
            <a th:href="@{'/insured/' + ${policy.insuredUser.userId} + '/detail'}">
                <span th:text="${@stringUtil.formatFullName(policy.insuredUser)}"></span>
            </a>
        </h3>
    </header>

    <section class="text-center">
        <div class="container">
            <!-- Policy detail table -->
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th colspan="2" class="text-center text-primary"
                            th:text="${policy.type.getFormattedPolicyType()}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>Částka:</strong></td>
                        <td th:text="${@numberUtil.formatCurrency(policy.coverageAmount)}"></td>
                    </tr>
                    <tr>
                        <td><strong>Předmět pojištění:</strong></td>
                        <td th:text="${policy.subject}"></td>
                    </tr>
                    <tr>
                        <td><strong>Platnost od:</strong></td>
                        <td th:text="${@dateUtil.formatToDdMmYyyy(policy.startDate)}"></td>
                    </tr>
                    <tr>
                        <td><strong>Platnost do:</strong></td>
                        <td th:text="${@dateUtil.formatToDdMmYyyy(policy.endDate)}"></td>
                    </tr>
                    <tr th:if="${not sameUser}">
                        <td><strong>Pojistník:</strong></td>
                        <td th:text="${@stringUtil.formatFullName(policy.policyHolder)}">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- Events table -->
            <div class="table-responsive">
                <table class="table table-striped table-hover" th:if="${eventList.size() > 0}">
                    <thead>
                    <tr>
                        <th>Typ</th>
                        <th>Datum</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="event: ${eventList}">
                        <td><a th:href="@{'/event/' + ${event.eventId} + '/detail'}"
                               th:text="${event.eventType.getFormattedEventType()}"></a></td>
                        <td th:text="${@dateUtil.formatToDdMmYyyy(event.eventDate)}"></td>
                        <td th:text="${event.eventStatus.getFormattedEventStatus()}"></td>
                        <td>
                            <a sec:authorize="hasRole('ROLE_ADMIN')"
                               class="btn btn-warning btn-sm" th:href="@{'/event/' + ${event.eventId} + '/edit'}">Editovat</a>
                            <a sec:authorize="hasRole('ROLE_ADMIN')"
                               class="btn btn-danger btn-sm" th:href="@{'/event/' + ${event.eventId} + '/delete'}">Odstranit</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Pagination -->
        <div class="pagination-container text-center">
            <nav th:replace="~{fragments/layout.html :: pagination(baseUrl='/policy/' + ${policyId} + '/detail', currentPage=${currentPage}, totalPages=${totalPages})}">
            </nav>
        </div>

        <!-- Buttons -->
        <a sec:authorize="!hasRole('ROLE_ADMIN')"
           class="btn btn-primary" th:href="@{'/event/' + ${policyId} + '/report'}">Nahlásit událost</a>
        <a sec:authorize="hasRole('ROLE_ADMIN')"
           class="btn btn-primary" th:href="@{'/event/' + ${policyId} + '/create'}">Přidat událost</a>
        <a sec:authorize="hasRole('ROLE_ADMIN')"
           class="btn btn-warning" th:href="@{'/policy/' + ${policy.policyId} + '/edit'}">Editovat pojištění</a>
        <a sec:authorize="hasRole('ROLE_ADMIN')"
           class="btn btn-danger" th:href="@{'/policy/' + ${policy.policyId} + '/delete'}">Odstranit pojištění</a>
        <a sec:authorize="hasRole('ROLE_ADMIN')"
           class="btn btn-dark" th:href="@{'/insured/' + ${policy.policyHolder.userId} + '/detail'}">Zpět na profil</a>
    </section>
</article>
<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>