<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
    <title th:text="${pageTitle}">Upravit pojištění</title>
</head>
<body class="custom-body">
<header th:replace="~{fragments/layout.html :: header}"></header>

<div th:replace="~{fragments/layout.html :: flash-messages}"></div>

<article class="container">
    <header>
        <h3 class="display-6 mb-4">Upravit pojištění</h3>
    </header>

    <section class="d-flex justify-content-center">
        <div class="form-container">
            <form class="d-flex flex-column gap-3"
                  method="post"
                  th:action="@{'/policy/' + ${policyId} + '/edit'}"
                  th:object="${policy}">

                <!-- Insured User hidden in form - to pass the userId to DTO -->
                <div class="form-group">
                    <input type="hidden" id="insuredUser" th:field="*{insuredUser.userId}"/>
                </div>

                <!-- Policy Type Dropdown -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="type">Typ pojištění</label>
                            <select id="type" class="form-control" th:field="*{type}" required>
                                <option value="" disabled selected>-- Vyberte pojištění --</option>
                                <option th:each="policyType : ${policyTypes}"
                                        th:value="${policyType}"
                                        th:text="${policyType.getFormattedPolicyType()}">
                                </option>
                            </select>
                            <small class="text-danger" th:errors="*{type}"></small>
                        </div>
                    </div>
                </div>

                <!-- Coverage Amount and Subject -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="coverageAmount">Částka</label>
                            <input id="coverageAmount" class="form-control" th:field="*{coverageAmount}" type="number"
                                   required/>
                            <small class="text-danger" th:errors="*{coverageAmount}"></small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="subject">Předmět pojištění</label>
                            <input id="subject" class="form-control" th:field="*{subject}" type="text" required/>
                            <small class="text-danger" th:errors="*{subject}"></small>
                        </div>
                    </div>
                </div>

                <!-- Start Date and End Date -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="startDate">Platnost od</label>
                            <input type="date" id="startDate" class="form-control" th:field="*{startDate}"
                                   pattern="\d{4}-\d{2}-\d{2}" required/>
                            <small class="text-danger" th:errors="*{startDate}"></small>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="endDate">Platnost do</label>
                            <input type="date" id="endDate" class="form-control" th:field="*{endDate}"
                                   pattern="\d{4}-\d{2}-\d{2}" required/>
                            <small class="text-danger" th:errors="*{endDate}"></small>
                        </div>
                    </div>
                </div>

                <!-- Policy Holder -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="policyHolder">Pojistník</label>
                            <select id="policyHolder" class="form-control" th:field="*{policyHolder.userId}" required>
                                <option value="0" selected disabled>-- Vyberte pojistníka --</option>
                                <option th:each="user : ${users}"
                                        th:value="${user.userId}"
                                        th:text="${@stringUtil.formatFullNameWithId(user)}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group text-center mt-3">
                    <button type="submit" class="btn btn-dark px-4">Uložit</button>
                </div>
            </form>

            <div class="text-center mt-3">
                <a class="btn btn-outline-dark" th:href="@{'/insured/' + ${userId} + '/detail'}">Zpět na profil</a>
            </div>
        </div>
    </section>

</article>
<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>