<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>PojištěníApp</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- TODO: complete head with description, keywords, author and icon -->
</head>
<body>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 px-5" aria-label="Main Navigation">
            <!-- logo section -->
            <a class="navbar-brand me-5" th:href="@{/}" aria-label="Home">
                PojištěníApp
            </a>
            <!-- hamburger icon -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- links section -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link mx-1" th:href="@{/insured}" aria-label="Insured Section">Pojištěnci</a>
                    </li>
                    <li>
                        <a class="nav-link mx-1" th:href="@{/policy}" aria-label="Insurance Section">Pojištění</a>
                    </li>
                    <li>
                        <a class="nav-link mx-1" th:href="@{#}" aria-label="Events Section">Události</a>
                    </li>
                    <li>
                        <a class="nav-link mx-1" th:href="@{/about}" aria-label="About the Application">O aplikaci...</a>
                    </li>
                </ul>

                <!-- right-aligned links section -->
                <ul class="navbar-nav ms-auto">
                    <li sec:authorize="isAnonymous()">
                        <a class="nav-link mx-1" th:href="@{/account/login}">Přihlásit se</a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a class="nav-link mx-1" th:href="@{/account/register}">Registrovat</a>
                    </li>
                    <li>
                        <form method="post" th:action="@{/account/logout}">
                            <button class="btn btn-dark" sec:authorize="isAuthenticated()">Odhlásit se</button>
                        </form>
                    </li>
                </ul>
            </div>
            <!-- TODO: add elements for login, register and logout -->
        </nav>
    </header>

    <footer th:fragment="footer" class="bg-dark text-white p-3 ps-5 mt-auto">
        &copy; 2025 PojištěníApp
    </footer>
</body>
</html>