<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
    <title>PojištěníApp - Chyba 404</title>
</head>
<body class="custom-body">
<header th:replace="~{fragments/layout.html :: header}"></header>

<article class="text-center container justify-content-evenly">
    <header>
        <h1 class="display-4 mb-5">Stránka nenalezena.</h1>
    </header>
    <section>
        <p>Omlouváme se, ale stránka, kterou hledáte neexistuje.</p>
        <a href="/" class="btn btn-dark mt-5">Vrátit se na hlavní stránku</a>
    </section>
</article>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>
