<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
    <title th:text="${pageTitle}">Změna hesla</title>
</head>
<body class="custom-body">
<header th:replace="~{fragments/layout.html :: header}"></header>

<div th:replace="~{fragments/layout.html :: flash-messages}"></div>

<article class="container justify-content-evenly">
    <header>
        <h1 class="display-4">Změna hesla</h1>
    </header>

    <section class="account-section">
        <div class="col-md-8 col-lg-6">
            <form th:action="@{/account/change-password}"
                  th:object="${changePasswordDTO}" method="post"
                  class="d-flex flex-column gap-3 p-5 bg-dark text-white rounded shadow-lg">

                <!-- Current Password Field -->
                <div class="form-group">
                    <label for="currentPassword" class="form-label">Aktuální heslo</label>
                    <input id="currentPassword" name="currentPassword" type="password" th:field="*{currentPassword}"
                           class="form-control bg-dark text-white border-0 shadow-none" required/>
                    <small class="text-danger" th:errors="*{currentPassword}"></small>
                </div>

                <!-- New Password Field -->
                <div class="form-group">
                    <label for="newPassword" class="form-label">Nové heslo</label>
                    <input id="newPassword" name="newPassword" type="password" th:field="*{newPassword}"
                           class="form-control bg-dark text-white border-0 shadow-none" required/>
                    <small class="text-danger" th:errors="*{newPassword}"></small>
                </div>

                <!-- Confirm Password Field -->
                <div class="form-group">
                    <label for="confirmPassword" class="form-label">Potvrzení hesla</label>
                    <input id="confirmPassword" name="confirmPassword" type="password" th:field="*{confirmPassword}"
                           class="form-control bg-dark text-white border-0 shadow-none" required/>
                    <small class="text-danger" th:errors="*{confirmPassword}"></small>
                </div>

                <!-- Submit Button -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary w-100">Změnit heslo</button>
                </div>
            </form>
        </div>
    </section>
</article>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>
