<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
    <title th:text="${pageTitle}">Přihlášení</title>
</head>
<body class="custom-body">
<header th:replace="~{fragments/layout.html :: header}"></header>

<div th:replace="~{fragments/layout.html :: flash-messages}"></div>

<article class="container justify-content-evenly">
    <header>
        <h1 class="display-4">Přihlášení</h1>
    </header>

    <section class="account-section">
        <div class="col-md-8 col-lg-6">
            <form th:action="@{/account/login}" method="post"
                  class="d-flex flex-column gap-3 p-5 bg-dark text-white rounded shadow-lg">

                <!-- Email Field -->
                <div class="form-group">
                    <label for="email" class="form-label">Uživatelský email</label>
                    <input id="email" name="email" type="email"
                           class="form-control bg-dark text-white border-0 shadow-none" required/>
                </div>

                <!-- Password Field -->
                <div class="form-group">
                    <label for="password" class="form-label">Heslo</label>
                    <input id="password" name="password" type="password"
                           class="form-control bg-dark text-white border-0 shadow-none" required/>
                </div>

                <!-- Submit Button -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary w-100">Přihlásit se</button>
                </div>

                <!-- Register Link -->
                <div class="form-group text-center">
                    <p>
                        <a th:href="@{/account/register}" class="text-light">Nemáte účet? Registrujte se</a>
                    </p>
                </div>
            </form>
        </div>
    </section>
</article>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>